
{% extends "email_layout.html" %}
{% block body %}
<p>Dear {{ customer.full_name|default:user.email }},</p>
<p>
  Thank you for joining the Krita Development Fund. You chose to pay
  for your {{ membership.level.name }} membership by bank transfer, which
  means that we will be waiting for you to perform this transfer.
  
</p>
<p>Your membership will be activated as soon as we have handled your bank transfer.</p>
<p><strong>Krita Fund Membership subs-{{ subscription.id }}</strong></p>
<p>Please send your payment to:</p>
<p>
  <pre>Stichting Krita Foundation
Korte Assenstraat 11 7411JP
Deventer, the Netherlands.

Bank Account
IBAN: NL72INGB0007216397
BIC: INGBNL2
</pre>
</p>
<p>You can always go to <a href="{{ link }}">{{ link }}</a> to view and update your membership.</p>{% endblock %}
