:root {
    --system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "Open Sans", "Noto Sans", "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --container-border-radius: 5px;
}
body {
    --main-text-color: #403f58;
    --body-background-color: white;
    --body-background-color-alternate: #c8f1ff;
    --body-background-inverse-color: #324148;
    --accent-color: rgb(54, 157, 197);
    --navbar-link-color: #347296;
    --link-color: rgb(54, 157, 197);
    --homepage-card-gradient: radial-gradient(circle, rgb(255, 255, 255) 30%, rgb(227, 250, 247) 100%);
    --image-brightness-filter: 1.0;
    --footer-gradient-one: #7ba3af;
    --footer-gradient-two: #324148;
}
[data-bs-theme="dark"] body {
    --main-text-color: #ffffff;
    --body-background-color: #212529;
    --body-background-color-alternate: #275872;
    --accent-color: rgb(160, 210, 230);
    --body-background-inverse-color: rgb(167, 197, 214);
    --navbar-link-color: #c9e9ff;
    --link-color: rgb(173, 224, 253);
    --homepage-card-gradient: radial-gradient(circle, rgba(71, 90, 98, 1) 0%, rgba(41, 52, 55, 1) 100%);
    --image-brightness-filter: 0.2;
    --footer-gradient-one: #d0e0e6;
    --footer-gradient-two: #e5f1f7;
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Inter-Regular.woff2?v=3.13") format("woff2"), url("./fonts/Inter-Regular.woff?v=3.13") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Inter-Italic.woff2?v=3.13") format("woff2"), url("./fonts/Inter-Italic.woff?v=3.13") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Inter-Bold.woff2?v=3.13") format("woff2"), url("./fonts/Inter-Bold.woff?v=3.13") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Inter-BoldItalic.woff2?v=3.13") format("woff2"), url("./fonts/Inter-BoldItalic.woff?v=3.13") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/Inter-Black.woff2?v=3.13") format("woff2"), url("./fonts/Inter-Black.woff?v=3.13") format("woff");
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("./fonts/Quicksand/Quicksand-Light.woff2?v=3.13") format("woff2"), url("./fonts/Quicksand/Quicksand-Light.woff?v=3.13") format("woff");
}
* {
    font-family: "Inter", var(--system-fonts);
    letter-spacing: normal;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
    color: var(--main-text-color);
}
h1, h2, h3, h4 {
    font-family: "Quicksand", "Inter", var(--system-fonts);
    font-style: normal;
    font-weight: 300;
    margin-bottom: 0.5rem;
}
h1 {
    font-size: 250%;
    text-align: center;
    margin-bottom: 2rem;
}
h2, h3 {
    font-weight: 400;
    margin: 1rem 0;
    margin-top: 3rem;
    font-size: 200%}
h3 {
    font-size: 140%}
h4 {
    font-size: 120%}
li {
    margin-bottom: 1rem;
}
code, pre {
    color: white;
    line-height: 148%;
    padding: 0.5rem;
    border-radius: var(--container-border-radius);
    background: #4a5765;
    overflow: auto;
    margin: 0.5rem 0;
    display: block;
}
a {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-color: inherit;
    transition: text-decoration-color;
    transition-duration: 500ms;
}
a:hover {
    text-decoration-color: transparent;
}
audio {
    display: block;
    width: 100%}
figure {
    text-align: center;
}
figcaption {
    margin: 0.5rem;
    font-style: italic;
}
body {
    margin: 0;
}
img {
    max-width: 100%}
h2, h3, h4 {
    margin-top: 3rem;
}
input.search-input {
    padding: 1rem;
    margin-block: 1rem;
}
code, li>code {
    padding: 0.75rem;
    margin-top: 1rem;
}
.flex-spacer {
    flex: auto;
}
.max-content-width {
    margin: auto;
    max-width: 1600px;
}
.header {
    position: sticky;
    background: var(--body-background-color);
    top: 0;
}
@media only screen and (max-width: 800px) {
    .header {
    top: unset;
    bottom: 0;
    position: fixed;
}
}
header:after, footer:before {
    visibility: hidden !important;
}
.navbar {
    max-width: 1600px;
    padding: 0.5rem;
}
.navbar a.active {
    background-color: unset;
}
.navbar .app-logo img {
    width: 7.5rem;
    height: auto;
}
.navbar .donate-button a {
    padding: 0.5rem 1rem;
}
.navbar .navbar-collapse .nav-item {
    margin-bottom: 0;
    border-bottom: 2px solid transparent;
    margin: auto 0.5rem;
    transition: all;
    transition-duration: 500ms;
}
.navbar .navbar-collapse .nav-item:not(.donate-button):hover {
    border-bottom: 2px solid var(--navbar-link-color);
}
.navbar .navbar-collapse .nav-item.active {
    border-bottom: 2px solid var(--navbar-link-color);
}
.navbar .navbar-collapse .nav-item a.nav-link {
    height: 40px;
    line-height: 40px;
}
.navbar .navbar-collapse .nav-item a.nav-link span {
    color: var(--navbar-link-color);
}
.navbar .navbar-collapse .nav-item a.button {
    color: white;
}
.navbar-brand {
    background-color: unset !important;
}
.inline {
    display: inline-block;
}
.logo {
    font-size: 1.8rem;
    color: white;
}
.tabbed-section-container {
    padding: 0.5rem;
    background: #506782;
}
.tabbed-section-container a {
    color: #d9d9d9;
    text-decoration: none;
}
.tabbed-section-container a:hover {
    color: white;
}
.container-padding {
    padding: 2rem;
    max-width: 1600px;
    margin: auto;
}
.container-padding.credits {
    padding: 0.5rem;
}
@media only screen and (max-width: 800px) {
    .container-padding.credits {
    text-align: center;
}
.container-padding.credits div {
    padding: 0.5rem;
}
}
.krita-logo {
    content: url("/images/krita-logo-light.svg");
}
[data-bs-theme="dark"] .krita-logo {
    content: url("/images/krita-logo-dark.svg");
}
.dark {
    background: var(--body-background-inverse-color);
}
.dark h2, .dark h3, .dark li, .dark p {
    color: var(--body-background-color);
}
.thumbnail-container {
    width: 15rem;
    height: 15rem;
    box-shadow: 3px 3px 3px #868686;
    margin: auto;
}
@media only screen and (max-width: 800px) {
    .thumbnail-container {
    width: 100%;
    height: 230px;
    display: block;
    margin-bottom: 1rem;
}
}
[data-bs-theme="dark"] .thumbnail-container {
    box-shadow: none;
}
.post {
    margin: 0 19%;
    margin-top: 5rem;
    max-width: 1600px;
}
@media only screen and (max-width: 800px) {
    .post {
    margin: 0 8%;
    margin-top: 5rem;
}
}
.vertical-divider {
    color: #d4bfbf;
    font-weight: bold;
    margin: 0 0.25rem;
}
.posts-listing {
    display: grid;
    column-gap: 4%;
    margin: 0%}
@media only screen and (max-width: 800px) {
    .posts-listing {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 1%}
}
.posts-listing a {
    color: black;
    font-weight: normal;
}
.posts-listing a:hover {
    text-decoration: none;
}
.post-snippet {
    padding: 2rem;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.post-snippet h2 {
    margin-bottom: 0.25rem;
    margin-top: 0;
}
.post-snippet a {
    font-size: 1.5rem;
}
@media only screen and (max-width: 800px) {
    .post-snippet {
    padding: 1rem;
}
}
.card {
    text-decoration: none;
}
.card article {
    transition: all 0.2s ease-in;
}
.card article:hover {
    background: #f2f3f3;
}
.card article:hover h2 {
    text-decoration: underline;
}
.preview {
    display: grid;
    column-gap: 25px;
}
@media only screen and (max-width: 800px) {
    .preview {
    display: block;
}
}
.section {
    grid-row: 1 / span 2;
}
a.post-item {
    padding: 1rem;
    background: var(--body-background-color);
    transition: all 0.2s linear;
    text-decoration: none;
    color: var(--text-color);
    font-size: 100%;
    line-height: 120%}
a.post-item div {
    margin-bottom: 0.5rem;
}
a.post-item:hover .title {
    text-decoration: underline;
}
a.post-item:hover {
    background: var(--body-background-color-alternate);
    border-radius: 3px;
}
input.search-input {
    padding: 0.75rem;
    background: #80808017;
}
a.button, .button, .primary-button, a.primary-button, input.primary-button {
    text-decoration: none;
    background: -webkit-linear-gradient(top, #39a3f2 1%, #0078f9 100%);
    background: linear-gradient(to bottom, #39a3f2 1%, #0078f9 100%);
    text-align: center;
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 0.2em;
    border: 0;
    color: white;
    text-transform: uppercase;
    box-shadow: 3px 5px 10px #04060766;
}
[data-bs-theme="dark"] a.button, [data-bs-theme="dark"] .button, [data-bs-theme="dark"] .primary-button {
    box-shadow: none;
}
a.button:hover, .primary-button:hover {
    background: -webkit-linear-gradient(top, #6bb9f5 1%, #0078f9 100%);
    background: linear-gradient(to bottom, #6bb9f5 1%, #0078f9 100%);
    color: white;
}
a.button.ghost, .ghost {
    background: none;
    border: 2px solid var(--accent-color);
    box-shadow: none;
    color: var(--accent-color) !important;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.5s ease;
    font-size: 80%;
    transform: scale(1, 1);
    font-weight: 600;
}
a.button.ghost:hover, .ghost:hover {
    border: 2px solid #b4f0ff;
    transform: scale(1.05, 1.05);
    background: var(--body-background-color-alternate);
}
.shop-price {
    font-weight: bold;
    margin: 1rem 0;
}
.support-krita-callout {
    padding: 2rem;
    margin: 2rem 0;
}
.support-krita-callout .illustration {
    height: fit-content;
    border-radius: 8px;
    padding: 1rem;
}
.circle-button img {
    filter: brightness(var(--image-brightness-filter));
}
.interview-img {
    border: 1px solid #cbcbcb;
    background-color: #e8e8eb;
    background-size: cover;
    height: 13rem;
    margin-bottom: 1rem;
}
.video_wrapper {
    position: relative;
    padding-bottom: 56.25%}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%}
.slim-her-title-container {
    margin: 0 17%}
@media only screen and (max-width: 800px) {
    .slim-her-title-container {
    margin: 0;
}
}
#slim-hero {
    width: 100%;
    height: 27rem;
    margin: auto;
    max-width: 1600px;
    position: relative;
}
#slim-hero::after {
    content: '';
    background: var(--body-background-color-alternate);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(-1.5deg);
}
[data-bs-theme="dark"] #slim-hero {
    box-shadow: none;
}
.slim-hero-title {
    top: 8rem;
    position: relative;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    .slim-hero-title {
    font-size: 0.7rem;
}
}
.slim-hero-title h1 {
    padding: 1.5rem 2rem;
    background: var(--body-background-color-alternate);
    color: var(--text-color);
    display: inline-flex;
}
.slim-hero-credit-container {
    margin: 0 17%;
    padding: 0.5rem;
}
.hero-credit {
    color: grey;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    .hero-credit {
    float: none;
    text-align: center;
}
}
.hero-credit a {
    color: grey;
    --link-color: grey;
}
.hero-credit a:hover {
    text-decoration: none;
}
.full-width-panel {
    padding: 2rem;
    color: var(--body-background-color);
    background: var(--body-background-inverse-color);
    text-align: center;
    padding-bottom: 6rem;
    max-width: 1600px;
    margin: auto;
}
.full-width-panel h2 {
    font-size: 3.5rem;
    color: var(--body-background-color);
}
.full-width-panel p, .full-width-panel a {
    color: var(--body-background-color);
}
.hero-credits {
    background: var(--body-background-inverse-color);
    padding: 0.5rem;
    max-width: 1600px;
    margin: auto;
}
.hero-credits div, .hero-credits a {
    color: var(--body-background-color-alternate);
    --link-color: var(--body-background-color-alternate);
}
.hero-credits img {
    height: 20px;
}
.social-media .grow-container {
    width: 2rem;
    display: inline-block;
}
.social-media a {
    text-decoration: none;
    color: #ccc;
    display: inline-block;
    border-radius: 25%;
    transition: all 0.2s ease;
}
.social-media a:hover {
    background: var(--accent-color);
    animation: circle-anim 0.3s ease forwards;
    transition: all 0.4s ease;
}
.rss-icon {
    width: 20px;
    position: relative;
    top: -0.5rem;
}
.rss-icon:hover {
    opacity: 0.8;
}
@keyframes circle-anim {
    0% {
}
90% {
    padding: 0.35em;
    margin: -0.35em;
}
100% {
    padding: 0.25em;
    margin: -0.25em;
}
}
.external-link-icon {
    vertical-align: baseline;
    margin-left: 0.25rem;
    fill: var(--link-color);
}
.shop-item {
    width: 100%;
    height: 100%}
@media only screen and (max-width: 800px) {
    .shop-item {
    height: 10rem;
    margin-bottom: 1rem;
}
}
.home-kdelogo:hover {
    filter: brightness(80%);
    transition: all 0.2s ease;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    padding: 0;
    right: 0;
    border: none;
    box-shadow: 0px 0px 9px #00000036;
}
.sponsor-item {
    margin: 0.5rem;
    display: flex;
    border: 1px solid #d9d9d9;
    padding: 1.5rem;
    border-radius: 3px;
    column-gap: 2rem;
}
.sponsor-item .image-container {
    flex: 1;
    background: #f1f1f1;
    padding: 2rem;
    display: flex;
}
.sponsor-item label {
    flex: 1;
}
.sponsor-item img {
    width: auto;
    max-height: 160px;
    margin: auto;
}
#footer-graphic {
    margin-top: 6rem;
}
#base-rectangle {
    fill: var(--body-background-inverse-color) !important;
}
#linearGradientMain stop:nth-child(1) {
    stop-color: var(--footer-gradient-one);
    stop-opacity: 1;
}
#linearGradientMain stop:nth-child(2) {
    stop-color: var(--body-background-inverse-color);
    stop-opacity: 1;
}
#linearGradientMain stop:nth-child(3) {
    stop-color: var(--body-background-inverse-color);
    stop-opacity: 1;
}
#linearGradientAlternate stop:nth-child(1) {
    stop-color: var(--body-background-inverse-color);
    stop-opacity: 0.5;
}
#linearGradientAlternate stop:nth-child(2) {
    stop-color: var(--body-background-inverse-color);
    stop-opacity: 0.3;
}
#linearGradientAlternate stop:nth-child(3) {
    stop-color: var(--body-background-inverse-color);
    stop-opacity: 0.0;
}
@keyframes grow {
    0% {
    transform: scaleY(0.8) scaleX(1);
}
50% {
    transform: scaleY(1) scaleX(1.3);
}
100% {
    transform: scaleY(0.8) scaleX(1);
}
}
@keyframes grow-2 {
    0% {
    transform: scaleY(0.8) scaleX(1);
}
50% {
    transform: scaleY(1) scaleX(1.5);
}
100% {
    transform: scaleY(0.8) scaleX(1);
}
}
#footer-shape-one {
    animation: grow 30s forwards;
    animation-iteration-count: infinite;
    animation-delay: -3s;
}
#footer-shape-two {
    animation: grow-2 35s forwards;
    animation-iteration-count: infinite;
}
#back-to-top-button {
    position: fixed;
    right: 0;
    bottom: 4rem;
    padding: 0px 3px;
    background: var(--body-background-color);
    border: 1px solid var(--body-background-inverse-color);
    font-size: 2rem;
    cursor: pointer;
    border-width: 1px;
    z-index: 100;
    color: var(--body-background-inverse-color) !important;
}
@media only screen and (max-width: 800px) {
    #back-to-top-button {
    bottom: 4rem;
}
}
#cookies-message {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background: #c6e9f3;
    padding: 0.75rem;
    color: #4e4e4e;
    text-align: center;
    box-shadow: 0 -1px 19px #343434;
}
@media only screen and (max-width: 800px) {
    #cookies-message {
    top: 0;
    bottom: unset;
}
}
#acceptCookieButton {
    border-radius: 5px;
    background: none;
    border: 1px solid #6bb9f5;
    color: #0078f9;
    margin: 0 1rem;
    padding: 0.25rem 1rem;
}
#acceptCookieButton:hover {
    background-color: #6bb9f5;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.2s ease;
}
footer {
    margin-top: -1px;
    background: var(--body-background-inverse-color) !important;
    padding: 1rem;
    font-size: unset;
}
footer a {
    display: block;
    text-align: left;
    color: var(--body-background-color-alternate);
    fill: var(--body-background-color-alternate);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--body-background-color-alternate);
}
footer h3 {
    text-align: left;
    color: var(--body-background-color-alternate);
}
footer .external-link-icon {
    fill: var(--text-color);
}
.footer-section {
    margin-bottom: 2rem;
}
