{% extends "checkout/checkout_base.html" %}
{% load looper %}
{% load pipeline %}
{% block content %}
  <div class="container d-flex justify-content-center">
    <section class="checkout col-12 col-md-8 col-lg-7 mx-auto">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <a class="text-muted" href="/">
              Krita Development Fund
            </a>
          </div>
          <section class="plan-info d-flex align-items-center">
            <h2 class="my-0">{{ plan.description }}</h2>
          </section>
        </div>
        <div class="card-body p-4">
           {% block after_header %}{% endblock %}
           <p>Choose how to subscribe to {{ plan.name }} {{ plan.product.name }}:</p>
           <ul>{% for planvar in object_list %}
             <li><a class="{% if planvar.pk == current_plan_variation.pk %}current{% endif %}" href="{% url 'looper:checkout' plan_id=plan.id plan_variation_id=planvar.id %}">{{ planvar|pricing }}</a>{% if planvar.pk == current_plan_variation.pk %} (currently selected){% endif %}</li>{% empty %}
             <!-- - TODO(fsiddi): Provide link to return to previous page-->
             <p>Sorry, no variation is availale in your currency.</p>{% endfor %}
           </ul>
           <hr class="mt-5"/>
           <p>{% if preferred_currency == 'EUR' %}<a href="javascript:set_preferred_currency('USD');">Switch to $</a>{% else %}<a href="javascript:set_preferred_currency('EUR');">Switch to €</a>{% endif %}</p>
        </div>
      </div>
    </section>
  </div>
  </div>
{% endblock %}

{% block footer_scripts %}
{% javascript 'looper_currency' %}
{% endblock footer_scripts %}
