
.progress
	@extend .box-shadow-subtle
	background-color: $color-background-dark

.progress-container
	@extend .d-flex
	@extend .position-relative

	+media-xs
		flex-direction: column-reverse

	small
		color: $color-text-dark-hint

.progress-label
	@extend .box-shadow-subtle
	@extend .position-absolute
	background-color: white
	border-radius: 999em
	border-bottom-left-radius: 0
	color: white

	+media-xs
		display: flex
		flex-direction: row-reverse
		justify-content: space-between

	span
		display: block

	+media-xs
		border-radius: 999em !important
		left: 0 !important
		position: relative !important
		width: 100% !important
		white-space: nowrap

	&.target
		left: 50%

	&.final
		align-self: start
		padding: ($spacer / 2) $spacer * 2
		background-color: hsl(193, 76%, 46%)
		border-radius: 999em
		border-top-right-radius: 0
		margin-top: $spacer
		position: initial !important
		right: 0

	&.current
		align-self: flex-end
		box-shadow: none
		bottom: 0
		display: none
		margin-right: -25px
		z-index: 1

		@include media-breakpoint-up(lg)
			display: block

		svg
			fill: hsl(175, 73%, 53%)
			max-width: 15px
			left: -8px
			bottom: 8px
			position: relative

		+media-xs
			bottom: 0
			left: 0 !important
			width: 100% !important

			div
				flex-direction: row-reverse
				justify-content: space-between
				width: 100%

.progress-bar-target-met
	@extend .rounded-circle
	@extend .position-absolute
	color: white
	height: 10px
	left: 50%
	transition: transform 150ms ease-in-out, color 150ms ease-in-out
	transform-origin: center bottom
	width: 10px

	&:hover
		@extend .text-danger
		transform: scale(1.2)
