.settings
	&-context // .settings-context
		background-color: $color-background-light
		border-radius: 3px

		&-header // .settings-context-header
			background-color: $color-background
			border-bottom: thin solid $color-background
			font-weight: Bold
			margin-top: 0
			padding: 10px 15px


.billing-info-form
	padding: 15px
