
{% extends "settings/base.html" %}
{% block content_settings %}
{{ block.super }}
<h2 class="mt-2 text-secondary">Krita Development Fund Receipt</h2>
<hr/>
<div class="receipt mt-4">
  <h4>Membership</h4>
  <dl class="dl-horizontal">
    <dt>Receipt ID</dt>
    <dd>{{ order.id }}</dd>
    <dt>Payment received on</dt>
    <dd>{{ order.paid_at|default:order.created_at }}</dd>
    <dt>Membership level</dt>
    <dd>{{ order.subscription.plan.name }}</dd>
  </dl>
  <h4>Billing Address</h4>
  <dl class="dl-horizontal">
    <dt>Address</dt>
    <dd>{{ order.billing_address }}</dd>
    <dt>E-mail</dt>
    <dd>{{ order.email }}</dd>
  </dl>
  <h4>Payment Information</h4>
  <dl class="dl-horizontal">
    <dt>Amount paid</dt>
    <dd>{{ order.price.with_currency_symbol_nonocents }}</dd>{% with refunded=order.total_refunded %}
    {% if refunded %}
    <dt>Amount refunded</dt>
    <dd>{{ refunded.with_currency_symbol_nonocents }}</dd>{% endif %}
    {% endwith %}
    <dt>Payment method</dt>
    <dd>{{ order.payment_method.recognisable_name }}</dd>
  </dl>
</div>{% endblock content_settings %}
