
{% extends "loginas/change_form.html" %}
{% load i18n %}
{% block object-tools-items %}
{{ block.super }}
<li>{% if original.oauth_info.oauth_user_id %}<a href="{{ settings.BLENDER_ID.BASE_URL }}admin/bid_main/user/{{ original.oauth_info.oauth_user_id }}/change/" target="_blank">{% trans "Show in Blender ID" %}</a></a>{% else %}<a href="{{ settings.BLENDER_ID.BASE_URL }}admin/bid_main/user/?email__exact={{ original.email|urlencode }}" target="_blank">{% trans "Find in Blender ID" %}</a></a>{% endif %}</li>{% endblock %}
