{% extends "blender_fund/layout.html" %}

{% block head %}
  {% block extra_head %}
  {% endblock %}
{% endblock head %}

{% block body %}
  <div id="isolated"></div>
  <div class="notice-wrapper">
    {% if messages %}
      {% for message in messages %}
        <div class="show notice error notice-error"><span class="notice-message">{{ message }}</span></div>
      {% endfor %}
    {% endif %}
  </div>
  <a name="hop"></a>
  <main class="container" style="opacity: 0.99;">
    {% block navigation_header %}
      {% include "_navbar.html" %}
    {% endblock navigation_header %}
    {% block page_header %}
      {% block navbar_tertiary %}{% endblock navbar_tertiary %}
    {% endblock page_header %}

    <div class="download-hero-image">
      <div class="download-hero-content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <div class="text-center">Art by <a href="https://www.artstation.com/somartist">Philipp A. Urlich</a></div>

    {% block footer %}
    {% include "_footer.html" %}
    {% endblock footer %}
  </main>
{% endblock body %}
