<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Krita Fund | Digital Painting. Creative Freedom.</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="fund.krita.org">
  <meta name="keywords" content="Krita, drawing, painting, concept, art, fund">
  <meta name="author" content="Krita Foundation">
  <link href="https://krita.org/wp-content/themes/krita-org-theme/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <meta property="og:title" content="Krita Fund">
  <meta property="og:description" content="Krita needs your support, Announcing our new Development Fund. Join use now!">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://fund.krita.org/">
  <meta property="og:site_name" content="Krita Fund">
  <meta property="og:image" content="/static/images/landing-page-banner.png">
  <link rel="https://api.w.org/" href="https://krita.org/wp-json/">
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://krita.org/xmlrpc.php?rsd">
  {% load static %}
  <link href="{% static 'css/bootstrap.css' %}?ii" rel="stylesheet">
  <link href="{% static 'css/krita-org-main.css' %}?ii" rel="stylesheet">
  <link href="{% static 'css/krita-main.css' %}?ii" rel="stylesheet">
  {% block head %}{% endblock %}
  <noscript>
    <style type="text/css">
      .js-fades {opacity: 1 !important; visibility: visible !important}
    </style>
  </noscript>
</head>
<body class="page-devfund {{ page_id }}">{% block body %}
  <div id="isolated"></div>
  <a name="hop"></a>
  <main>
    {% block navigation_header %}
      {% include "_navbar.html" %}
    {% endblock navigation_header %}

    <div class="notice-wrapper">
      {% if messages %}
        {% for message in messages %}
          <div class="show alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    </div>

    {% block page_header %}
      {% block navbar_tertiary %}{% endblock navbar_tertiary %}
    {% endblock page_header %}

    {% block content %}{% endblock content %}

    {% block footer %}
    {% include "_footer.html" %}
    {% endblock footer %}

    {% endblock body %}
  </main>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/vendor/js.cookie.js' %}"></script>
  {% block footer_scripts %}{% endblock footer_scripts %}
  <script>
/**
 * Color mode toggler for Bootstrap's docs (https://getbootstrap.com/)
 * SPDX-FileCopyrightText: 2011-2022 The Bootstrap Authors
 * SPDX-License-Identifier: CC-BY-3.0
 */

(() => {
    'use strict'

    const storedTheme = localStorage.getItem('theme')

    const getPreferredTheme = () => {
        if (storedTheme) {
            return storedTheme
        }

        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
    }

    const setTheme = function (theme) {
        document.documentElement.setAttribute('data-bs-theme', theme)
    }

    setTheme(getPreferredTheme())

    const showActiveTheme = theme => {
        const activeThemeIcon = document.querySelector('.theme-icon-active use')
        const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
        const svgOfActiveBtn = btnToActive.querySelector('svg use').getAttribute('href')

        document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
            element.classList.remove('active')
        })

        btnToActive.classList.add('active')
        activeThemeIcon.setAttribute('href', svgOfActiveBtn)
    }

    window.addEventListener('DOMContentLoaded', () => {
        showActiveTheme(getPreferredTheme())

        document.querySelectorAll('[data-bs-theme-value]')
        .forEach(toggle => {
            toggle.addEventListener('click', () => {
                const theme = toggle.getAttribute('data-bs-theme-value')
                localStorage.setItem('theme', theme)
                setTheme(theme)
                showActiveTheme(theme)
            })
        })
    })
})()
  </script>
</body>
